/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}



/* utility */

.float {
    float: left;
}

:root {
    --title: #e53170;
    --black: #0f0e17;
    --white: #ffffff;
    --blue: #39b8e7;
}

.debug {
    border: 1px solid black;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;

}

/* / utility */

img {
    max-width: 125px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1.7rem;
    font-size: 1.1rem;
}

header {
    color: var(--title);
    text-align: center;
}

section {
    margin-top: 3rem;
    
}

span {
    display: inline-block;
    color: var(--white);
    padding: 1rem 0 0 1rem;
   

}

div span:last-child {
    color: var(--blue);
}

.card {
    background-color: var(--black);
    width: calc((100% / 3) - 2em);
    margin: 1rem;
}




