/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}



/* utility */

.float {
    float: left;
}

:root {
    --title: #e53170;
    --black: #0f0e17;
    --white: #ffffff;
    --blue: #39b8e7;
}

.debug {
    border: 1px solid black;
}




.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1.7rem;
    font-size: 1.1rem;
}

header {
    color: var(--title);
    text-align: center;
}

section {
    padding-top: 2.2em;
    
}

span {
    color: var(--white);
}

div span:last-child {
    color: var(--blue);
}
/* .card {
    background-color: var(--black);
} */

